<section id="artistas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Artistas</h2>
                <hr class="my-4">
                <div class="col-lg-4" style="margin-left: auto; margin-right: auto;" ng-if="artistas.length > 0">
                    <input autocomplete="off" ng-model="buscaArtista" placeholder=" Filtrar" class="form-control"/>
                    <div class="search-icon">
                        <i class="fa fa-search text-primary mb-3 sr-icons"></i>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div class="container" ng-show="artistas.length == 0">
        <div class="col-lg-8 mx-auto text-center">
            <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-meh-o text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Oops! Não há nenhum artista cadastrado no momento.</h3>
            </div>
        </div>
    </div>
    <div class="container" ng-if="artistas.length > 0">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center" ng-repeat="artista in artistas | filter: {nome: buscaArtista}">
                <div class="circular--landscape" ng-if="artista.imagem != 'https://www.atomix.com.au/media/2015/06/atomix_user31.png'">
                    <img src="{{artista.imagem}}" />
                </div>
                <div style="margin-left: 23px" class="circular--square" ng-if="artista.imagem == 'https://www.atomix.com.au/media/2015/06/atomix_user31.png'">
                    <img src="{{artista.imagem}}" />
                </div>
                <br/>
                <a href="" ng-click="view(artista, 'detalhesArtista')">{{artista.nome}}</a>
                <input class="check_box" type="checkbox" ng-attr-id="{{'c' + artista.nome}}" ng-model="artista.selecionado" ng-disabled="artista.favorito == true"/>
                <label class="check_box" ng-attr-for="{{'c' +artista.nome}}" ng-click="adicionaFavoritos(artistas)">
                    <i class="fa" ng-class="{'fa-2x fa-star-o text-warning': !artista.favorito, 'fa-2x fa-star text-warning': artista.favorito}"></i>
                </label>
            </div>
        </div>
    </div>
    <hr/>
</section>

<section class="p-0" id="albuns">
    <div class="container-fluid p-0">
        <div class="container" ng-show="albuns.length == 0 && artistas.length == 0">
            <div class="col-lg-8 mx-auto text-center">
                <div class="service-box mt-5 mx-auto">
                    <h2 class="section-heading">Álbuns</h2>
                    <hr/>
                    <i class="fa fa-4x fa-meh-o text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Oops! Não há nenhum álbum cadastrado no momento.</h3>
                </div>
            </div>
        </div>
        <div class="row no-gutters" ng-if="albuns.length > 0">
            <div class="col-lg-4 col-sm-6" ng-repeat="album in albuns">
                <a class="portfolio-box" href="">
                    <img class="img-fluid" style="width: 650px; height: 320px;" src="{{album.imagem}}" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{album.artistaNome}}
                            </div>
                            <div class="project-name" ng-click="view(album, 'detalhesAlbum')">
                                {{album.nome}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary text-white" id="musicas">
    <div class="container text-center">
        <h2 class="mb-4">Músicas</h2>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="col-lg-4" style="margin-left: auto; margin-right: auto;" ng-if="musicas.length > 0">
                    <input autocomplete="off" ng-model="buscaMusica" placeholder=" Filtrar Música" class="form-control"/>
                    <div class="search-icon">
                        <i class="fa fa-search text-primary mb-3 sr-icons"></i>
                    </div>
                </div>
                <table class="table table-striped" ng-if="musicas.length > 0">
                    <tr>
                        <th><a class="link-neon" href="" ng-click="ordenarPor('nome')" style="color: #8B4513;">Nome</a></th>
                        <th><a class="link-neon" href="" ng-click="ordenarPor('duracao')" style="color: #8B4513;">Duração</a></th>
                        <th><a class="link-neon" href="" ng-click="ordenarPor('ano')" style="color: #8B4513;">Ano de Lançamento</a></th>
                        <th><a class="link-neon" href="" ng-click="ordenarPor('albumNome')" style="color: #8B4513;">Álbum Associado</a></th>
                        <th><a class="link-neon" href="" ng-click="ordenarPor('nomeArtist')" style="color: #8B4513;">Artista</a></th>
                    </tr>
                    <tr ng-repeat="musica in musicas | filter: {nome: buscaMusica} | limitTo: 10 | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                        <td><a style="color: #8B4513; pointer-events: none;" href="">{{musica.nome}}</a></td>
                        <td>{{musica.duracao}}</td>
                        <td>{{musica.ano}}</td>
                        <td>{{musica.albumNome}}</td>
                        <td>{{musica.nomeArtist}}</td>
                    </tr>
                </table>

                <div ng-show="musicas.length == 0">
                    <div class="col-lg-8 mx-auto text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-meh-o text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">Oops! Não há nenhuma música cadastrada no momento.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="favoritos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Artistas Favoritos</h2>
                <hr class="my-4">
                <div class="col-lg-4" style="margin-left: auto; margin-right: auto;" ng-if="artistasFavoritos.length > 0">
                    <input autocomplete="off" ng-model="buscaArtistaFavorito" placeholder=" Filtrar Artista Favorito" class="form-control"/>
                    <div class="search-icon">
                        <i class="fa fa-search text-primary mb-3 sr-icons"></i>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div class="container" ng-show="artistasFavoritos.length == 0">
        <div class="col-lg-8 mx-auto text-center">
            <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-meh-o text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Oops! Não há nenhum artista favorito cadastrado no momento.</h3>
            </div>
        </div>
    </div>
    <div class="container" ng-if="artistasFavoritos.length > 0">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center" ng-repeat="artistaFavorito in artistasFavoritos | filter: {nome: buscaArtistaFavorito}">
                <input class="check_box" type="checkbox" ng-attr-id="{{'cd' + artistaFavorito.nome}}" ng-model="artistaFavorito.select"/>
                <label style="position: relative; margin: 1px 200px auto auto;" class="check_box" ng-attr-for="{{'cd' +artistaFavorito.nome}}">
                    <i class="fa" ng-class="{'fa-2x fa-square-o text-info': !artistaFavorito.select, 'fa-2x fa-check-square-o text-info': artistaFavorito.select}"></i>
                </label>
                <div class="circular--landscape" ng-if="artistaFavorito.imagem != 'https://www.atomix.com.au/media/2015/06/atomix_user31.png'">
                    <img src="{{artistaFavorito.imagem}}" />
                </div>
                <div style="margin-left: 23px" class="circular--square" ng-if="artistaFavorito.imagem == 'https://www.atomix.com.au/media/2015/06/atomix_user31.png'">
                    <img src="{{artistaFavorito.imagem}}" />
                </div>
                <br/>
                <a href="" style="color: #17a2b8;" ng-click="view(artistaFavorito, 'detalhesArtista')">{{artistaFavorito.nome}}</a>
            </div>
            <div class="col-lg-12 text-center" ng-show="isArtistaFavoritoSelecionado(artistasFavoritos)"   >
                <br/>
                <br/>
                <br/>
                <br/>
                <button class="btn btn-danger btn-xl" ng-click="confirmRemoveFavoritos(artistasFavoritos)" ><i class="fa fa-trash-o" aria-hidden="true"></i> Remover Artistas Favoritos</button>
            </div>
        </div>
    </div>
    <hr/>
</section>


<section class="bg-dark text-white" id="playlists">
    <div class="container text-center">
        <h2 class="mb-4">Playlists</h2>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button class="btn btn-playlist" ng-click="showBuscar()" ng-show="playlists.length > 0">Filtrar Playlist</button>
                <div class="col-lg-4" style="margin-left: auto; margin-right: auto;" ng-if="buscarPlaylist">
                    <br/>
                    <input autocomplete="off" ng-model="buscaPlaylist" placeholder=" Filtrar" class="form-control"/>
                    <div class="search-icon2">
                        <i class="fa fa-search text-secondary"></i>
                    </div>
                </div>
                <table class="table table-striped" ng-if="playlists.length > 0">
                    <tr>
                        <th>Selecionar</th>
                        <th><a class="link-neon" href="" ng-click="ordenarPor('nome')" style="color: #42DCA3;">Nome</a></th>
                        <th>Criada em</th>
                    </tr>
                    <tr ng-repeat="playlist in playlists | filter: {nome: buscaPlaylist} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                        <td><input type="checkbox" ng-attr-id="{{'p' + playlist.nome}}" ng-model="playlist.selected"/>
                            <label ng-attr-for="{{'p' +playlist.nome}}">
                                <i class="fa" ng-class="{'fa-lg fa-square-o text-white': !playlist.selected, 'fa-lg fa-check-square-o text-white': playlist.selected}"></i>
                            </label></td>
                        <td><a style="color: #42DCA3;" href="" ng-click="view(playlist, 'detalhesPlaylist')">{{playlist.nome}}</a></td>
                        <td>{{playlist.data  | date:'mediumDate'}}</td>
                    </tr>
                </table>

                <div ng-show="playlists.length == 0">
                    <div class="col-lg-8 mx-auto text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-meh-o text-danger mb-3 sr-icons"></i>
                            <h3 class="mb-3">Oops! Não há nenhuma playlist cadastrada no momento.</h3>
                        </div>
                    </div>
                </div>

                <div ng-show="isPlaylistSelecionado(playlists)"    >
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <button class="btn btn-danger btn-xl" ng-click="confirmRemovePlaylist(playlists)"><i class="fa fa-trash-o" aria-hidden="true"></i> Remover Playlist(s)</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center" ng-controller="mainCtrl">
        <br/>
        <br/>
        <br/>
        <button class="btn btn-light btn-xl sr-button" ng-click="openModal('novaPlaylist')"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
            Nova Playlist</button>
    </div>
</section>