<div class="modal-header">
  <h5 class="modal-title" id="detalhesArtistaLabel"></h5>
  <button type="button" class="close" ng-click="cancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
	<div class="container" style="text-align:center;">
		<h2>{{artista.nome}}</h2>
		<div ng-show="artista.imagem != null && artista.imagem != 'https://www.atomix.com.au/media/2015/06/atomix_user31.png'">
			<hr/>
			<figure class="foto-legenda">
				<img src="{{artista.imagem}}"></img>
			</figure>
		</div>
		<div ng-show="albuns.length > 0">
			<hr/>
			<h3>Álbuns <img src="img/disco.png" height="16" width="16"/></h3>
			<table class="table table-striped">
				<tr>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th><a href="" ng-click="ordenarPor('ano')">Ano</a></th>
				</tr>
				<tr ng-repeat="album in albuns | filter: {nome: criterioDeBusca} | limitTo: 5 | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
						<td><a href="" ng-click="viewAlbum(album)">{{album.nome}}</a></td>
						<td>{{album.ano}}</a></td>	
				</tr>
			</table>
		</div>
		<div ng-show="albuns.length > 0">
			<hr/>
			<!-- Última música ouvida. -->
			<h5 style="display:inline">Última música ouvida: <small style="display:inline" class="form-text text-muted">{{artista.ultimaOuvida}}</small></h5>
			<br/>
			<br/>
			<select class="form-control" ng-model="ultimaOuvida" ng-options="'Nome: ' + musica.nome + ', Ano: ' + musica.ano + ', Álbum: ' + musica.albumNome for musica in musicas | orderBy:'nome'" ng-init="">
	                <option value="">Selecione a última música ouvida</option>
	        </select>
	        <button class="btn btn-secondary btn-block" ng-click="defineUltimaOuvida(ultimaOuvida)"><i class="fa fa-headphones" aria-hidden="true"></i> Definir música</button>
		</div>
		<hr/>
		<h3>Avaliação do Artista</h3>
		<div id="rateArtist">
			<input id="inputRate" star-rating="" class="rating rating-loading" ng-model="rate" value="1" data-min="0" data-max="5" data-step="1" data-size="xs" type="number" ng-show="false" data-show-clear="false"></input>
		</div>
	</div>
</div>
<div class="modal-footer">

</div>

