<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Playlist</h5>
        <button type="button" class="close" ng-click="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">

        <form name="playlistForm" novalidate>
            <label for="playlist-name" class="col-form-label">Nome da playlist:</label>
            <input id="playlist-name" class="form-control" name="nome" type="text" ng-model="playlist.nome" placeholder="Nome da playlist" ng-required="true" />
            <label for="playlist-img" class="col-form-label">Imagem da playlist:</label>
            <input id="playlist-img" class="form-control" name="imagem" type="text" ng-model="playlist.imagem" placeholder="Imagem da playlist" />
            <label for="playlist-desc" class="col-form-label">Descrição da playlist:</label>
            <textarea id="playlist-desc" class="form-control" name="descricao" ng-model="playlist.descricao" rows="3" placeholder="Dê uma pequena descrição a sua playlist."></textarea>
        </form>
        <div ng-show="musicas.length > 0">
            <hr/>
            <h3 style="text-align: center;">Músicas <i class="fa fa-music fa-lg" aria-hidden="true"></i></h3>
            <div class="input-group">
                <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Procure pelo nome da música." />
                <span class="input-group-addon">
        			    <i class="fa fa-search"></i>
        			</span>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Selecionar</th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th>Artista</th>
                </tr>
                <tr ng-repeat="musica in musicas | filter: {nome: criterioDeBusca} | limitTo: 10 | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                    <td><input type="checkbox" ng-attr-id="{{'mp' + musica.nome}}" ng-model="musica.selectPlaylist" />
                        <label ng-attr-for="{{'mp' +musica.nome}}">
        	  					<img ng-src="{{getIcon(check, musica.selectPlaylist)}}"/>
        						</label></td>
                    <td>{{musica.nome}}</td>
                    <td>{{musica.nomeArtist}}</td>
                </tr>
            </table>
        </div>

        <br/>
        <div ng-show="hasPlaylist()" class="alert alert-danger">
            Nome de playlist já cadastrado no sistema.
        </div>

        <div ng-show="hasSuccess()" class="alert alert-success">
            Playlist adicionada com sucesso.
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-block" ng-click="adicionaPlaylist(playlist)" ng-disabled="playlistForm.$invalid">Criar Playlist</button>
        <button type="button" class="btn btn-secondary btn-block" ng-click="close()">Fechar</button>
    </div>

</div>
